<%- include('../_admin_page_headers/admin_top') %>

<div class="fs-2 text-dark">
  <span class="svg-icon svg-icon-2 svg-icon-dark">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none">
      <rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor"></rect>
      <rect
        opacity="0.3"
        x="13"
        y="2"
        width="9"
        height="9"
        rx="2"
        fill="currentColor"></rect>
      <rect
        opacity="0.3"
        x="13"
        y="13"
        width="9"
        height="9"
        rx="2"
        fill="currentColor"></rect>
      <rect
        opacity="0.3"
        x="2"
        y="13"
        width="9"
        height="9"
        rx="2"
        fill="currentColor"></rect>
    </svg> </span
  >Post-Incarceration Employment Assistance (PIEA) System
</div>

<hr />

<div class="row">
  <div class="col-sm-12 mt-10">
    <div class="card shadow border border-dark">
      <div class="card-body">
        <div class="fs-3">
          <span class="svg-icon svg-icon-dark svg-icon-2x">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none">
              <rect
                x="2"
                y="2"
                width="9"
                height="9"
                rx="2"
                fill="currentColor"></rect>
              <rect
                opacity="0.3"
                x="13"
                y="2"
                width="9"
                height="9"
                rx="2"
                fill="currentColor"></rect>
              <rect
                opacity="0.3"
                x="13"
                y="13"
                width="9"
                height="9"
                rx="2"
                fill="currentColor"></rect>
              <rect
                opacity="0.3"
                x="2"
                y="13"
                width="9"
                height="9"
                rx="2"
                fill="currentColor"></rect>
            </svg>
          </span>

          <span class="text-dark"> Modules</span>

          <hr />
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row mt-8">
              <div class="col-12">
                <div
                  class="mb-6 fs-2 bg-secondary border border-dark p-3 shadow d-flex justify-content-center rounded">
                  Quick Links
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 mt-6">
                <div
                  class="card shadow border border-dark py-5 hoverable btn btn-dark p-0"
                  onclick="window.location.href='/employers'">
                  <div class="card-body">
                    <div class="d-flex justify-content-center">
                      <span class="fs-2 me-3 mt-3"> Employers</span>
                    </div>
                    <div class="d-flex justify-content-center">
                      <span class="fs-6 me-3 mt-3 fw-normal"
                        >--Front Desk--</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 mt-6">
                <div
                  class="card shadow border border-dark py-5 hoverable btn btn-dark p-0"
                  onclick="window.location.href='/employees'">
                  <div class="card-body">
                    <div class="d-flex justify-content-center">
                      <span class="fs-2 me-3 mt-3">  Employees</span>
                    </div>
                    <div class="d-flex justify-content-center">
                      <span class="fs-6 me-3 mt-3 fw-normal"
                        >--Front Desk--</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 mt-6">
                <div
                  class="card shadow border border-dark py-5 hoverable btn btn-dark p-0"
                  onclick="window.location.href=`/posts`">
                  <div class="card-body">
                    <div class="d-flex justify-content-center">
                      <span class="fs-2 me-3 mt-3">Posts</span>
                    </div>
                    <div class="d-flex justify-content-center">
                      <span class="fs-6 me-3 mt-3 fw-normal"
                        >--Front Desk--</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 mt-6">
                <div
                  class="card shadow border border-dark py-5 hoverable btn btn-dark p-0"
                  onclick="window.location.href=`/rs/cleaning`">
                  <div class="card-body">
                    <div class="d-flex justify-content-center">
                      <span class="fs-2 me-3 mt-3">Applications</span>
                    </div>
                    <div class="d-flex justify-content-center">
                      <span class="fs-6 me-3 mt-3 fw-normal"
                        >--Room Service--</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 mt-6">
                <div
                  class="card shadow border border-dark py-5 hoverable btn btn-dark p-0"
                  onclick="window.location.href=`/users`">
                  <div class="card-body">
                    <div class="d-flex justify-content-center">
                      <span class="fs-2 me-3 mt-3">Users</span>
                    </div>
                    <div class="d-flex justify-content-center">
                      <span class="fs-6 me-3 mt-3 fw-normal"
                        >--System Admin--</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 mt-6">
                <div
                  class="card shadow border border-dark py-5 hoverable btn btn-dark p-0"
                  onclick="window.location.href=`/global_config`">
                  <div class="card-body">
                    <div class="d-flex justify-content-center">
                      <span class="fs-2 me-3 mt-3">Global Config</span>
                    </div>
                    <div class="d-flex justify-content-center">
                      <span class="fs-6 me-3 mt-3 fw-normal"
                        >--System Admin--</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 mt-6">
                <div
                  class="card shadow border border-dark py-5 hoverable btn btn-dark p-0"
                  onclick="window.location.href=`/reports`">
                  <div class="card-body">
                    <div class="d-flex justify-content-center">
                      <span class="fs-2 me-3 mt-3">Reports</span>
                    </div>
                    <div class="d-flex justify-content-center">
                      <span class="fs-6 me-3 mt-3 fw-normal">--Reports--</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 mt-6">
                <div
                  class="card shadow border border-dark py-5 hoverable btn btn-dark p-0"
                  onclick="window.location.href='/signout'">
                  <div class="card-body">
                    <div class="d-flex justify-content-center">
                      <span class="fs-2 me-3 mt-3"> Sign Out </span>
                    </div>
                    <div class="d-flex justify-content-center">
                      <span class="fs-6 me-3 mt-3 fw-normal">--Account--</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../_admin_page_headers/admin_bottom') %>
