<div class="mb-6">
  <a id="user_menu_1" href="/users" class="btn shadow btn-light-dark btn-hover-scale btn-sm me-2 border border-dark">
    <li class="fa fa-arrow-left me-2"></li>

    Users
  </a>
  <a id="user_menu_2" href="/user/<%- locals.param_user_id || `0` %>" class="btn shadow btn-light-dark btn-hover-scale btn-sm me-2 border border-dark"> Account Details</a>
  <a id="user_menu_3" href="/user/<%- locals.param_user_id || `0` %>/account_access" class="btn shadow btn-light-dark btn-hover-scale btn-sm me-2 border border-dark">Account Access</a>
</div>
