<div class="pt-3 fixed-bottom bg-light text-dark">
  <div class="container d-flex justify-content-between">
    <!--begin::Copyright-->
    <div class=" ">
      <p class="fw-bold me-1 fs-8">©Post-Incarceration Employment Assistance (PIEA) system v2 ></p>
    </div>

    <ul class="menu menu-white menu-hover-primary order-1 opacity-75">
      <li class="menu-item">
        <p class="fw-bolder fs-8">
          <span class="fw-lighter">Developed By</span>
          <a
            href="http://www.aplimac.co.zw"
            class="text-dark text-hover-danger"
            target="_blank"
            >Aplimac</a
          >
        </p>
      </li>
    </ul>
    <!--end::Menu-->
  </div>
</div>
