<div class="mb-6">
  <a
    id="g_menu_1"
    href="/global_config"
    class="btn shadow btn-light-dark btn-hover-scale btn-sm me-2 border border-dark">
    <li class="fa fa-arrow-left me-2"></li>

    Global Configuration
  </a>
  <a
    id="g_menu_2"
    href="/global_config/room_type"
    class="btn shadow btn-light-dark btn-hover-scale btn-sm me-2 border border-dark">
    Room Type</a
  >
  <a
    id="g_menu_3"
    href="/global_config/payment_type"
    class="btn shadow btn-light-dark btn-hover-scale btn-sm me-2 border border-dark"
    >Payment Type</a
  >
  <a
    id="g_menu_5"
    href="/global_config/currency"
    class="btn shadow btn-light-dark btn-hover-scale btn-sm me-2 border border-dark"
    >Currency</a
  >
  <a
    id="g_menu_4"
    href="/global_config/vat"
    class="btn shadow btn-light-dark btn-hover-scale btn-sm me-2 border border-dark"
    >VAT</a
  >
</div>
