<div class="card shadow border border-dark">
  <div class="card-body">
    <div class="w-bolder badge badge-success">Account is Active</div>
    <hr />
    <div>Reason for Suspension</div>
    <input class="form-control form-control-sm mb-3" name="" id="" />
    <button class="btn btn-danger">Suspend Account</button>
  </div>
</div>
